/*
    Meteor
    style.css
*/


html,
body{

    margin:0;

    width:100%;

    height:100dvh;

    overflow:hidden;

    background:#000;

    touch-action:none;

}



body{

    display:flex;

    justify-content:center;

    align-items:center;

}



canvas{

    display:block;

    background:#050510;

    touch-action:none;

    image-rendering:auto;

}