body{

    margin:0;

    width:100%;
    height:100dvh;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    background:black;

    touch-action:none;

}


canvas{

    display:block;

    background:#050510;

    touch-action:none;

}