html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #000;
}


body {
    display: flex;

    justify-content: center;
    align-items: center;
}


#gameCanvas {
    display: block;

    width: 800px;
    height: 700px;

    max-width: 100vw;
    max-height: 100vh;

    touch-action: none;

    user-select: none;
    -webkit-user-select: none;

    background: #02020a;
}